<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardValues</key>
	<array>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
	</array>
	<key>cardTypes</key>
	<array>
		<string>Weapon</string>
		<string>Attack</string>
		<string>Attack</string>
		<string>Attack</string>
		<string>Attack</string>
	</array>
	<key>cardWeights</key>
	<array>
		<string>2</string>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
	</array>
	<key>cardNames</key>
	<array>
		<string>Laser Pistol</string>
		<string>Zap</string>
		<string>Fireball</string>
		<string>Ice Shards</string>
		<string>Hurricane</string>
	</array>
</dict>
</plist>
