<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardSounds</key>
	<array>
		<string>facedownCard</string>
		<string>healCard</string>
		<string>facedownCard</string>
		<string>weaponCard</string>
		<string>zapCard</string>
		<string>fireballCard</string>
		<string>waterfallCard</string>
		<string>hurricaneCard</string>
	</array>
	<key>isFaceDownType</key>
	<array>
		<true/>
		<false/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>cardFileNames</key>
	<array>
		<string>spellShieldCard</string>
		<string></string>
		<string>EMPCard</string>
		<string></string>
		<string></string>
		<string>fireballCard</string>
		<string></string>
		<string></string>
	</array>
	<key>cardValues</key>
	<array>
		<string>0</string>
		<integer>3</integer>
		<string>0</string>
		<integer>3</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
	</array>
	<key>cardTypes</key>
	<array>
		<string>Shield</string>
		<string>Heal</string>
		<string>EMP</string>
		<string>Weapon</string>
		<string>Attack</string>
		<string>Attack</string>
		<string>Attack</string>
		<string>Attack</string>
	</array>
	<key>cardWeights</key>
	<array>
		<string>2</string>
		<integer>2</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
	</array>
	<key>cardNames</key>
	<array>
		<string>Shield</string>
		<string>Heal</string>
		<string>EMP</string>
		<string>Laser Pistol</string>
		<string>Zap</string>
		<string>Fireball</string>
		<string>Waterfall</string>
		<string>Hurricane</string>
	</array>
</dict>
</plist>
